* {
  background-color: yellow
}

p {
  background-color: #ff0000

}
#wiki{
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.text{
  color: #1aff1a

}
.text1{
  color: #4768e1
}
.text777{
    color:#cccc00
}
